@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700&display=swap');

:root {
    --primary-font: 'Libre Baskerville', serif;
    --secondary-font: 'Fira Sans', sans-serif;
    --tertiary-font: 'Signika', sans-serif;
    --bg-color: #f2efea;
    --nav-color: #686868;
    --nav-color-2: #722d23;
    --color-1: #221610;
    --button-hover: #9a581b;
    /*--logo-color: #18110b;
    --logo-text: #fdfdfd;*/
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
    margin: 2%;
}

section {
    max-width: none;
    margin: 0;
}


section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 4rem;
}


article {
    margin-top: 12%;
    margin-bottom: 10%;
    display: flex;
    flex-flow: column;
}

article > img {
    order: -1;
    align-self: center;
}

article {
    padding: 2rem;
}

article > h3,
h1 {
    margin: 1rem 0 0 0;
}

article > p,
.colors {
    margin: 0.25em 1rem 1rem;
}

article {
    background-color: white;
}

/*.content > button {
    margin-bottom: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}*/

img {
    max-width: 100%;
    height: auto;
}


/*--NAVIGATION MENU--*/

nav,
h1 {
    font-family: var(--primary-font);
    letter-spacing: 5px;
    font-weight: bolder;
    display: flex;
    font-size: 16px;
}

nav div,
h1,
h3,
article p,
.colors {
    color: var(--nav-color);
}

nav div span {
    color: var(--nav-color-2);
}

nav div span:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*--STYLING--*/

h3 {
    font-family: var(--secondary-font);
    font-size: 14px;
}

h1 {
    margin-top: 2%;
    margin-bottom: 9px;
    padding-bottom: 3px;
    border-bottom: 1.5px solid #cccccc;
}

article p,
.colors {
    font-family: var(--tertiary-font);
    font-style: italic;
}

article p span {
    font-family: var(--primary-font);
    color: var(--color-1);
    font-weight: bold;
    margin-left: 4%;
}



/*--BUTTON--*/

button span {
    border: solid 1.5px var(--nav-color-2);
    color: var(--nav-color-2);
    font-family: var(--tertiary-font);
    font-weight: normal;
    /*text-align: center;*/
    cursor: pointer;
    font-style: normal;
    font-size: 18px;
    padding: 5px;
    width: 200px;
    margin: 16px 15px;
    background-color: white;
    z-index: 15;

}

button span:hover {
    border: solid 1.5px var(--button-hover);
    color: var(--button-hover);
}

button {
    background-color: white;
    border: none;
}





/*--COLOURS--*/

.colors {
    display: flex;
}

.colors,
article p {
    margin: 16px 15px;
}

.colors > div {
    height: 20px;
    width: 20px;
    margin-left: 5%;
}

.colours {
    display: none;
}





/*--LOGO--*/

.logoimg {
    width: 200px;
    margin-bottom: 10px;
}




/*--ADDITIONAL STYLING--*/

article p,
.colors {
    border-bottom: 1.5px solid #f6f2ef;
    padding-bottom: 3px;
}

.content {
    border: 1.5px solid #f6f2ef;
    padding: 0;
    margin-bottom: 15px;
}

.status {
    margin-bottom: 0px;
    border: none;
}




/*--GO RESPONSIVE--*/

@media only screen and (max-width:440px) {

    section {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
