@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700&display=swap');

:root {
    --primary-font: 'Libre Baskerville', serif;
    --secondary-font: 'Fira Sans', sans-serif;
    --tertiary-font: 'Signika', sans-serif;
    --bg-color: #f2efea;
    --nav-color: #686868;
    --nav-color-2: #722d23;
    --color-1: #221610;
    --button-hover: #9a581b;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
    margin: 2%;
}

/*body {
    background: url(maxresdefault.jpg) no-repeat right 50%;
    background-size: cover;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: var(--primary-font);
}*/


section {
    max-width: none;
    margin: 0;
}


section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 3rem;
}


article {
    margin-top: 12%;
    display: flex;
    flex-flow: column;
}

article > img {
    order: -1;
    align-self: center;
}

article {
    padding: 2rem;
}

article > h3,
h1 {
    margin: 1rem 1rem 0;
}

article > p {
    margin: 0.25em 1rem 1rem;
}

main {
    /* font-family: var(--primary-font);*/
    font-size: 80%;
}

article {
    background-color: white;
}

article > button {
    margin-top: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}


/*--NAVIGATION MENU--*/

nav,
h1 {
    font-family: var(--primary-font);
    letter-spacing: 3px;
    font-weight: bolder;
    display: flex;
    font-size: 16px;
}

nav div,
h1,
h3,
article p {
    color: var(--nav-color);
}

nav div span {
    color: var(--nav-color-2);
}

nav div span:hover {
    text-decoration: underline;
    cursor: pointer;
}




h3 {
    font-family: var(--secondary-font);
    font-size: 14px;
}

article p {
    font-family: var(--tertiary-font);
    font-style: italic;
    font-size:
}

article p span {
    font-family: var(--primary-font);
    color: var(--color-1);
    font-weight: bold;
    margin-left: 4%;
}


/*--BUTTON--*/

article > button span {
    border: solid 1.5px var(--nav-color-2);
    background-color: white;
    color: var(--nav-color-2);
    font-family: var(--tertiary-font);
    font-weight: normal;
    margin-left: 35%;
    margin-right: 35%;
    padding: 1.5% 1% 1.5% 1%;
}

article > button span:hover {
    border: solid 1.5px var(--button-hover);
    background-color: white;
    color: var(--button-hover);

}

article > button {
    border: none;
    background-color: white;
}

/*
.info{
    border: 1px solid black;
}
*/
